.shield-barcode {
	background-color: #FFF;
	text-align: center;
	width: 140px;
	padding: 12px;
	left: 18px;
	bottom: 75px;
	border: solid 1px #333;
}

.shield-barcode a {
	padding: 30px 0;
}

.indicator {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.widget-list-title {
	font-size: 16px!important;
	margin-bottom: 4px!important;
}